html {
  font-size: 100%;
  line-height: 1.6;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
body {
  padding: 0px;
  margin: 0px;
  min-width: 300px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  transition: 0.3s background; }
header,
footer,
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
a {
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
a:active,
a:hover { outline-width: 0; }
.gui-container { width: 100%; max-width: 600px;	margin: 0px auto; padding: 0px 20px; }
@media (min-width: 750px) {
	.gui-container { padding: 0px 20px; }	
}
.gui-container>div { 
	cursor: default;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	background: rgba(33, 33, 33, 0.7);
	opacity: 1;
	transition: 0.5s opacity;
	margin: 30% auto;
	width: 100%; 
	padding: 40px 20px 15px 20px;
	border-radius: 10px; }
@media (min-width: 750px) {
	.gui-container>div { padding: 40px 30px 15px 30px; }	
}
.gui-container>div.hidden { opacity: 0; }
.gui-container>div.hidden:hover { opacity: 1; }
.mobile-desc { border-top: 1px solid rgba(255, 255, 255, 0.2); padding-top: 10px; }
@media (min-width: 750px) {
	.mobile-desc { display: none; }
}
h1 { 
	font-size: 20px;
	font-size: 1.25rem;
	color: rgba(33, 33, 33, 0.7); 
	margin: 0px 0px 25px 0px; 
	text-align: center; 
	text-shadow:
		-1px -1px 0 #fff,  
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff; }
@media (min-width: 750px) {
	h1 { font-size: 32px; font-size: 2rem;}	
}
p { font-size: 15px; margin: 0px 0px 10px 0px; color: #fff; }